<form [formGroup]="signUpForm" class="outer" style="border:1px solid #ccc">
  <div class="container">
    <h1>Sign Up</h1>
    <hr>
    <label for="email"><b>Name</b></label>
    <input type="text" formControlName="name" placeholder="Enter Name" name="name" required>

    <label for="email"><b>Email</b></label>
    <input type="text" formControlName="email" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" formControlName="password" placeholder="Enter Password" name="psw" required>

    <div class="clearfix">
      <button (click)="signUpUser(signUpForm.value)" type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>